.LeaderBoardHeading {
  margin: 10px;
  margin-left: 100px;
  text-decoration: underline;
}

.right-side {
  margin: auto;
  text-align: left;
  border-right: 2px solid black;
  padding-bottom: 100px;
  height: 100vh;
}

.leaderboard-img {
  display: block;
}

.leaderboard-heading {
}
